name: CI Build

on:
  push:
    branches:
      - '*'
  pull_request:
    branches: 
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build
      - name: Test Coverage
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: code-coverage-report/build/reports/jacoco/codeCoverageReport/codeCoverageReport.xml
      - name: Analyze with SonarCloud
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          # for some reasons falls with 'java not found'
          JAVA_HOME: ''
        with:
          args: >
            -Dsonar.organization=reomor
            -Dsonar.projectKey=reomor_otuskotlin-202012-messages-ir
            -Dsonar.coverage.jacoco.xmlReportPaths=code-coverage-report/build/reports/jacoco/codeCoverageReport/codeCoverageReport.xml
            -Dsonar.verbose=true
